@import "application.css";

#frame{
    max-width: 900px;
    margin: auto;
}

.row {
    max-width: 100%;
}

#upper{
    clear: both;
}

.block{
    height: 100px;
    width: 300px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin: 50px;
    text-align: center;
}

.block:hover{
    transition: background-color 0.5s ease;
    background-color: rgba(76, 167, 255, 0.21);
}


.left {
    float: left;
}

.right{
    float: right;
}

.center{
    text-align: center;
    line-height: 2;
}

#lower{
    clear: both;
}

#center{
    width:150px;
    margin:auto;
}

#centerlogo{
    height:150px;
}

#wizard {
    height: 80px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
}

/* upload btn */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    height: 100px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin: 50px;
    font-weight:normal;
    padding:20px;
    text-align: center;
    cursor: pointer;
}

.inputfile:focus + label, .inputfile + label:hover {
    background-color: rgba(76, 167, 255, 0.21);
}

#gpl{
    color: gray;
    font-size: 8pt;
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 99%;
}
