<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head lang="en">

    <title>Enhort - Genomic Position Profiling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/index.css" th:href="@{/css/index.css}"/>

    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <script src="/js/d3.min.js" th:href="@{/js/d3.min.js}"></script>

</head>
<body>

<div th:include="header:: bar"></div>

        <div id="new" class="bg-info">

        </div>

<div class="row">
    <div class="col">
        <div id="frame">
            <div id="upper">
                <a href="/faq">
                    <div class="block left">
                        New to Enhort? <br/>
                        Click here for the beginner's guide
                    </div>
                </a>
                <a href="/sample">
                    <div class="block right center">
                        Load sample data
                    </div>
                </a>
            </div>

            <div id="center">
                <img id="centerlogo" src="logo.gif"/>
            </div>

            <div id="lower">
                <a href="/wiz">
                    <div class="block left center" >
                        Guided Analysis
                        <img id="wizard" src="title_logo_wizard.png"/>
                    </div>
                </a>
                <div th:include="upload:: upload"></div>
            </div>
        </div>
    </div>

</div>

<div id="gpl">
    This software is published under GNU GPL v3.0 &nbsp;&nbsp;&nbsp;&nbsp; Copyright (C) 2018 Michael Menzel
</div>

</body>
</html>
