<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head lang="en">

    <title>Enhort - Genomic Position Profiling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/result.css" th:href="@{/css/result.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/celllinetree.css" th:href="@{/css/celllinetree.css}"/>

    <script src="/js/popper.js" th:href="@{/js/popper.js}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/js/jquery-1.12.0.min.js" th:href="@{/js/jquery-1.12.0.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <script src="/js/d3.min.js" th:href="@{/js/d3.min.js}"></script>
    <script src="/js/result.js" th:href="@{/js/result.js}"></script>
    <script src="/js/radar.js" th:href="@{/js/radar.js}"></script>
    <script src="/js/circos.js" th:href="@{/js/circos.js}"></script>
    <script src="/js/circos_plot.js" th:href="@{/js/circos_plot.js}"></script>
</head>
<body>

<div th:include="header:: bar"></div>

<div class="container-fluid">
    <div class="row">

        <div class="sidebar col-2">

    <th:block th:if="${ran}">

        <div class="box">
            <h3>Info</h3>


            <div class="fileinfo">
                <p th:text="${'Current File: ' + interfaceCommand.originalFilename}"></p>
                <span>Positions</span><span class="file_positions" th:text="${interfaceCommand.positionCount}"></span>
            </div>

            <div class="fileinfo">
                <p>
                    <a href="export/bg"><span>Background</span></a> <input type="number" step="200" form="covariate_form" th:field="*{interfaceCommand.minBg}"/>
                </p>
            </div>
        </div>

        <div class="box">
            <h3>Data</h3>

            <a class="btn btn-outline-secondary" href="/wizfile" th:if="${bgfilename == 'Background'}">
                Change tracks
            </a>


            <a id="settingsbtn" class="btn btn-outline-secondary" data-target="#settings" data-toggle="modal">
                Settings
            </a>

            <div class="box">

                <th:block th:if="${not #lists.isEmpty(customTracks)}">
                    <h3> Custom tracks </h3>

                    <th:block th:each="track: ${customTracks}">
                        <div class="checkbox">
                            <span th:text="${track.name}"></span>
                        </div>
                    </th:block>

                    <span class="runnotice">Run again to test your sites against the custom tracks</span>
                </th:block>

            </div>

            <th:block th:if="${ran}">
                <th:block th:if="${#lists.isEmpty(covariants)}">
                    <div th:include="uploadBg:: uploadbg"></div>
                </th:block>

            </th:block>

        </div>

        <div class="box">
            <h3>Results</h3>

            <a id="savebtn" class="btn btn-outline-secondary" href="export/csv">
                Download results
            </a>

        </div>

        <button id="rerun" type="submit" class="btn btn-primary"
                form="covariate_form">Run again
        </button>

        <span id="runnotice" class="runnotice"></span>

    </th:block>

</div>

        <div class="col-10">


            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#nav1">Overview</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nav2">Hotspots</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nav3">Detailed Views</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nav4">R export</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nav5">Data export</a></li>
            </ul>

            <div class="tab-content">

                <!-- Tab 1 Overview -->
                <div id="nav1" class="tab-pane fade show active">


                        <div class="row">
                            <div class="col-8">

                                <a data-toggle="pill" href="#nav2">
                                    <div id="hotspots" data-toggle="tooltip"
                                         data-placement="right"
                                         title="Hotspots across the genome">

                                        <th:block th:if="${interfaceCommand.hotspots != null}">
                                            <th:block th:each="pixel: ${interfaceCommand.hotspots}">
                                                <div class="hotspot"
                                                     th:style="'background-color:hsl(231,100%,' + ${pixel} + '%);'"></div>
                                            </th:block>
                                        </th:block>

                                    </div>
                                </a>

                                <div id="plots">


                                    <div id="radarChart"></div>

                                    <div id="circos_chart"></div>

                                </div>


                                <!-- Top plots end-->

                                <!-- Result table -->

                                <form method="POST" action="#" th:action="@{/covariate}" th:object="${interfaceCommand}"
                                      id="covariate_form"></form>

                                <table class="table table-hover fixed">

                                    <col width="160px"/>
                                    <col width="50px"/>
                                    <col width="70px"/>
                                    <col width="150px"/>
                                    <col width="30px"/>


                                    <tbody>

                                    <!-- Sequencelogo Entry -->
                                        <th:block th:if="${interfaceCommand.logo}">
                                            <th:block th:if="${not interfaceCommand.logoCovariate}">
                                                <tr id="seqlogorow" data-target="#sequencelogodiv"
                                                    data-toggle="collapse"
                                                    class="accordion-toggle">
                                                    <td> Sequence Logo</td>
                                                    <td></td>
                                                    <td th:text="${sl_effect}"></td>
                                                    <td colspan="1"></td>
                                                    <td><input th:field="${interfaceCommand.logoCovariate}"
                                                               type="checkbox"
                                                               form="covariate_form"/></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" class="hiddenRow">
                                                        <div class="accordion-body collapse" id="sequencelogodiv">

                                                            <div id="sequencelogo"></div>
                                                            <p th:text="${sequencelogo_name}"></p>

                                                            <div id="sequencelogo2"></div>
                                                            <p th:text="${sequencelogo2_name}"></p>
                                                            The SequenceLogo with a width of 12 bases calculated using
                                                            3000 integration
                                                            sites taken from the
                                                            dataset.
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </th:block>
                                    <!-- Sequencelogo Entry END -->


                                    <!-- Annotation table -->
                                    <!-- Annotation table inout -->
                                    <tr>
                                        <td data-toggle="tooltip" data-placement="right"
                                            title="">
                                            Annotation group (
                                            <span th:text="${visible_track_count}"></span>
                                            /
                                            <span th:text="${total_track_count}"></span>
                                            )
                                        </td>

                                        <td></td>
                                        <td>Max effect size</td>
                                        <td>Value distribution</td>
                                    </tr>

                                    <th:block th:each="package: ${results}"
                                              th:with="f=${(1/maxES)*145}, min=${perc.get(package.key).get(0)}">
                                        <tr class="packrow accordion-toggle"
                                            th:attr="data-target=${#strings.replace('#outer_'+package.key,' ','_')}"
                                            data-toggle="collapse">

                                            <td th:text="${package.key + ' (' + #lists.size(package.value) +')'}">
                                            </td>
                                            <td></td>
                                            <td th:text="${perc.get(package.key).get(4)}"></td>

                                            <td>

                                                <div class="boxplot">
                                                    <div class="sd"
                                                         th:style="'margin-left:' + ${min*f} + 'px;width:' + ${(perc.get(package.key).get(1)-min)*f} + 'px'"></div>

                                                    <div class="boxplotbar"
                                                         th:title="${'The effect sizes for the annotation group ' + package.key + ' range from ' + perc.get(package.key).get(0) + ' to ' + perc.get(package.key).get(4) + ' with an average of ' + perc.get(package.key).get(2)}"
                                                         th:style="'width:' + ${(perc.get(package.key).get(3)-min)*f} + 'px'">
                                                        <div class="boxplotmean"
                                                             th:style="'margin-left:' + ${-2 + (perc.get(package.key).get(2)-min)*f} + 'px'"></div>
                                                    </div>

                                                    <div class="sd"
                                                         th:style="'width:' + ${(perc.get(package.key).get(4)-perc.get(package.key).get(3))*f} + 'px'"></div>
                                                </div>

                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td colspan="5" class="hiddenRow">
                                                <div class="accordion-body collapse"
                                                     th:id="${#strings.replace('outer_'+package.key,' ','_')}">

                                                    <table class="table tracktable">

                                                        <col width="120px"/>
                                                        <col width="90px"/>
                                                        <col width="90px"/>
                                                        <col width="140px"/>
                                                        <col width="20px"/>

                                                        <tr>
                                                            <td data-toggle="tooltip" data-placement="right"
                                                                title="Count of significant tracks vs all tracks">
                                                                Significant Tracks
                                                            </td>

                                                            <td data-toggle="tooltip" data-placement="right"
                                                                title="P-value computed by chi-square-test">P Value
                                                            </td>
                                                            <td>Effect Size</td>
                                                            <td>Relative Integration<span
                                                                    style="font-size: 10px;"> <span
                                                                    style="color: #337ab7; font-size: 13px;">Data</span> vs. <span
                                                                    style="color: #555; font-size: 13px;"> Background</span></span>
                                                            </td>
                                                        </tr>


                                                        <th:block th:each="result: ${package.value}">
                                                            <tr class="trackrow">

                                                                <td th:if="${result.track.cellLine != 'Unknown'}"
                                                                    th:text="${result.name + ' (' + result.track.cellLine + ')'}"
                                                                    th:attr="data-target=${#strings.replace('#accordion_' + result.id,'.','_')}"
                                                                    data-toggle="collapse"
                                                                    class="accordion-toggle"></td>
                                                                <td th:if="${result.track.cellLine == 'Unknown'}"
                                                                    th:text="${result.name}"
                                                                    th:attr="data-target=${#strings.replace('#accordion_' + result.id,'.','_')}"
                                                                    data-toggle="collapse"
                                                                    class="accordion-toggle"></td>

                                                                <td th:text="${result.pValue}"></td>
                                                                <td th:text="${result.effectSize}"></td>
                                                                <td class="bars">
                                                                    <div class="bar measured"
                                                                         th:style="'width: ' + ${result.percentInM} + '%;'"></div>
                                                                    <div class="bar expected"
                                                                         th:style="'width: ' + ${result.percentInE} + '%;'"></div>
                                                                </td>
                                                                <td><input th:field="*{interfaceCommand.covariants}"
                                                                           th:value="${result.id}" type="checkbox"
                                                                           form="covariate_form"/></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="5" class="hiddenRow">
                                                                    <div class="accordion-body collapse trackbox"
                                                                         th:id="${#strings.replace('accordion_'+result.id,'.','_')}">
                                                                        <div>
                                                                            <table class="table dattable">
                                                                                <tr>
                                                                                <th></th>
                                                                                <th>In</th>
                                                                                <th>Out</th>
                                                                                </tr>
                                                                                <tr class="datrow">
                                                                                    <td th:text="${interfaceCommand.originalFilename}"></td>
                                                                                    <td th:text="${result.measuredIn+' ('+result.percentInM+'%)'}"></td>
                                                                                    <td th:text="${result.measuredOut+' ('+result.percentOutM+'%)'}"></td>
                                                                                </tr>
                                                                                <tr class="datrow">
                                                                                    <td th:text="${bgfilename}"></td>
                                                                                    <td th:text="${result.expectedIn+' ('+result.percentInE+'%)'}"></td>
                                                                                    <td th:text="${result.expectedOut+' ('+result.percentOutE+'%)'}"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                        <div class="desc"
                                                                             th:utext="${result.description}"></div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </th:block>

                                                    </table>
                                                </div>
                                            </td>
                                        </tr>

                                    </th:block>

                                    <!-- Annotation table scored -->

                                    <th:block th:if="${not #lists.isEmpty(results_score)}">

                                        <tr class="packrow accordion-toggle"
                                            th:with="f=${(1/maxES)*145}, min=${perc.get('Scored').get(0)}"
                                            data-target="#scored_body" data-toggle="collapse">
                                            <td th:text="${'Expression Scores (' + #lists.size(results_score) +')'}">
                                            </td>
                                            <td></td>
                                            <td th:text="${perc.get('Scored').get(4)}"></td>
                                            <td>
                                                <div class="boxplot">
                                                    <div class="sd"
                                                         th:style="'margin-left:' + ${min*f} + 'px;width:' + ${(perc.get('Scored').get(1)-min)*f} + 'px'"></div>

                                                    <div class="boxplotbar"
                                                         th:title="${'The effect sizes for the Scored values range from ' + perc.get('Scored').get(0) + ' to ' + perc.get('Scored').get(4) + ' with an average of ' + perc.get('Scored').get(2)}"
                                                         th:style="'width:' + ${(perc.get('Scored').get(3)-min)*f} + 'px'">
                                                        <div class="boxplotmean"
                                                             th:style="'margin-left:' + ${-2 + (perc.get('Scored').get(2)-min)*f} + 'px'"></div>
                                                    </div>

                                                    <div class="sd"
                                                         th:style="'width:' + ${(perc.get('Scored').get(4)-perc.get('Scored').get(3))*f} + 'px'"></div>
                                                </div>

                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td colspan="5" class="hiddenRow">
                                                <div class="accordion-body collapse"
                                                     th:id="scored_body">
                                                    <table class="table tracktable">

                                                        <col width="120px"/>
                                                        <col width="90px"/>
                                                        <col width="90px"/>
                                                        <col width="140px"/>
                                                        <col width="20px"/>

                                                        <tr>
                                                            <td data-toggle="tooltip" data-placement="right"
                                                                title="TODO">
                                                                Significant Tracks
                                                            </td>

                                                            <td data-toggle="tooltip" data-placement="right"
                                                                title="P-value computed by chi-square-test">P Value
                                                            </td>
                                                            <td>Effect Size</td>
                                                            <td>Relative Integration<span
                                                                    style="font-size: 10px;"> <span
                                                                    style="color: #337ab7; font-size: 13px;">Data</span> vs. <span
                                                                    style="color: #555; font-size: 13px;"> Background</span></span>
                                                            </td>
                                                        </tr>

                                                        <th:block th:each="result: ${results_score}">
                                                            <tr th:attr="data-target=${#strings.replace('#accordion_'+result.id,'.','_')}"
                                                                data-toggle="collapse" class="accordion-toggle">
                                                                <td th:text="${result.name}"></td>
                                                                <td th:text="${result.pValue}"></td>
                                                                <td th:text="${result.effectSize}"></td>
                                                                <td th:id="${'plot_'+result.id}"></td>
                                                                <th:block
                                                                        th:if="${not #strings.startsWith(result.name,'FOOBAR Distance from')}">
                                                                    <!-- only display a checkbox for covariates if it is not a _distance_ track -->
                                                                    <td><input th:field="*{interfaceCommand.covariants}"
                                                                               th:value="${result.id}"
                                                                               type="checkbox"
                                                                               form="covariate_form"/></td>
                                                                </th:block>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="5" class="hiddenRow">
                                                                    <div class="accordion-body collapse"
                                                                         th:id="${#strings.replace('accordion_'+result.id,'.','_')}">
                                                                        <div class="desc"
                                                                             th:utext="${result.description}"></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </th:block>

                                                    </table>
                                                </div>
                                            </td>
                                        </tr>

                                    </th:block>
                                    <!-- Annotation table named -->

                                    <th:block th:if="${not #lists.isEmpty(results_named)}">

                                        <tr class="packrow accordion-toggle"
                                            th:with="f=${(1/maxES)*145}, min=${perc.get('Named').get(0)}"
                                            data-target="#named_body" data-toggle="collapse">
                                            <td th:text="${'Named (' + #lists.size(results_named) +')'}">
                                            </td>
                                            <td></td>
                                            <td th:text="${perc.get('Named').get(4)}"></td>
                                            <td>
                                                <div class="boxplot">
                                                    <div class="sd"
                                                         th:style="'margin-left:' + ${min*f} + 'px;width:' + ${(perc.get('Named').get(1)-min)*f} + 'px'"></div>
                                                    <div class="boxplotbar"
                                                         th:title="${'The effect sizes for the Scored values range from ' + perc.get('Named').get(0) + ' to ' + perc.get('Named').get(4) + ' with an average of ' + perc.get('Named').get(2)}"
                                                         th:style="'width:' + ${(perc.get('Named').get(3)-min)*f} + 'px'">
                                                        <div class="boxplotmean"
                                                             th:style="'margin-left:' + ${-2 + (perc.get('Named').get(2)-min)*f} + 'px'"></div>
                                                    </div>

                                                    <div class="sd"
                                                         th:style="'width:' + ${(perc.get('Named').get(4)-perc.get('Named').get(3))*f} + 'px'"></div>
                                                </div>

                                            </td>
                                            <td></td>

                                        </tr>

                                        <tr>
                                            <td colspan="5" class="hiddenRow">
                                                <div class="accordion-body collapse" id=named_body>

                                                    <table class="table tracktable">

                                                        <col width="120px"/>
                                                        <col width="90px"/>
                                                        <col width="90px"/>
                                                        <col width="140px"/>
                                                        <col width="20px"/>

                                                        <tr>
                                                            <td data-toggle="tooltip" data-placement="right"
                                                                title="TODO">
                                                                Significant Tracks
                                                            </td>

                                                            <td data-toggle="tooltip" data-placement="right"
                                                                title="P-value computed by chi-square-test">P Value
                                                            </td>
                                                            <td>Effect Size</td>
                                                            <td>Relative Integration<span
                                                                    style="font-size: 10px;"> <span
                                                                    style="color: #337ab7; font-size: 13px;">Data</span> vs. <span
                                                                    style="color: #555; font-size: 13px;"> Background</span></span>
                                                            </td>
                                                        </tr>


                                                        <th:block th:each="result: ${results_named}">
                                                            <tr th:attr="data-target=${#strings.replace('#accordion_'+result.id,'.','_')}"
                                                                data-toggle="collapse" class="accordion-toggle">
                                                                <td th:text="${result.name}"></td>
                                                                <td th:text="${result.pValue}"></td>
                                                                <td th:text="${result.effectSize}"></td>
                                                                <td th:id="${result.id}"></td>
                                                                <td><input th:field="*{interfaceCommand.covariants}"
                                                                           th:value="${result.id}"
                                                                           type="checkbox"
                                                                           form="covariate_form"/></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="5" class="hiddenRow">
                                                                    <div class="accordion-body collapse"
                                                                         th:id="${#strings.replace('accordion_'+result.id,'.','_')}">
                                                                        <div class="nameplot"
                                                                             th:id="${'nameplot_'+result.id}">
                                                                            <div th:value="${result.namesMea}"></div>
                                                                            <div th:value="${result.namesExp}"></div>
                                                                        </div>
                                                                        <div class="desc"
                                                                             th:utext="${result.description}"></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </th:block>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>

                                    </th:block>

                                    <tr> <!-- create or upload custom track button -->
                                        <td class="add" colspan="5" data-placement="right" title="Upload custom track"
                                            data-toggle="tooltip">
                                            <button type="button" class="btn btn-default" data-toggle="modal"
                                                    data-target="#add_track">
                                                &#43;
                                            </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>


                                <!-- Result table end -->

                            </div>
                            <div class="col-4">

                                <!-- Covariates column (right) -->

                                <div class="bg-info" th:if="${bgfilename != 'Background'}">
                                    Background sites are taken from the uploaded file <span
                                        th:text="${bgfilename}"></span>
                                </div>

                                <table class="table table-hover fixed" th:if="${bgfilename == 'Background'}">

                                    <col width="400px"/>
                                    <col width="30px"/>
                                    <thead>
                                    <tr>
                                        <th th:text="${'Covariates' + ' (' + covariantCount + ')'}">Covariates</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <th:block th:if="${interfaceCommand.logoCovariate}">
                                        <tr>
                                            <td data-target="#sequencelogodiv" data-toggle="collapse"
                                                class="accordion-toggle">
                                                Sequence Logo
                                            </td>
                                            <td><input th:field="${interfaceCommand.logoCovariate}" type="checkbox"
                                                       form="covariate_form"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="hiddenRow">
                                                <div class="accordion-body collapse" id="sequencelogodiv">

                                                    <div id="sequencelogo"></div>
                                                    <p th:text="${sequencelogo_name}"></p>

                                                    <div id="sequencelogo2"></div>
                                                    <p th:text="${sequencelogo2_name}"></p>

                                                    The Sequence or Weblogo with a width of 12 bases of 3000 sequences
                                                    taken from the
                                                    dataset.
                                                </div>
                                            </td>
                                        </tr>

                                    </th:block>


                                    <th:block th:each="cov: ${covariants}">
                                        <tr>
                                            <td th:text="${cov.name}"
                                                th:attr="data-target=${#strings.replace('#accordion_cov_' + cov.id,'.','_')}"
                                                data-toggle="collapse" class="accordion-toggle"></td>
                                            <td><input th:field="*{interfaceCommand.covariants}" th:value="${cov.id}"
                                                       type="checkbox"
                                                       form="covariate_form" class="checked" checked="checked"/></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="hiddenRow">
                                                <div class="accordion-body collapse"
                                                     th:id="${#strings.replace('accordion_cov_' + cov.id,'.','_')}">
                                                    <div>
                                                        <div>
                                                            <table class="table">

                                                                <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>In</th>
                                                                    <th>Out</th>
                                                                </tr>
                                                                </thead>
                                                                <tr class="">
                                                                    <td th:text="${interfaceCommand.originalFilename}"></td>
                                                                    <td th:text="${cov.measuredIn + ' (' + cov.percentInM + '%)'}"></td>
                                                                    <td th:text="${cov.measuredOut+ ' (' + cov.percentOutM+ '%)'}"></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td th:text="${bgfilename}"></td>
                                                                    <td th:text="${cov.expectedIn+ ' (' + cov.percentInE + '%)'}"></td>
                                                                    <td th:text="${cov.expectedOut+ ' (' + cov.percentOutE+ '%)'}"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>P Value</td>
                                                                    <td th:text="${cov.pValue}"></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" th:id="${'plot_'+cov.id}"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" th:id="${'nameplot_'+cov.id}"></td>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>


                                        </tr>


                                    </th:block>

                                    </tbody>

                                </table>

                            </div>
                        </div>


                </div>

                <!-- Tab 2 Hotspots -->
                <div id="nav2" class="tab-pane fade">
                    <div id="hotspotsfull">

                        <th:block th:if="${interfaceCommand.hotspots != null}">
                            <th:block th:each="pixel: ${interfaceCommand.hotspots}">
                                <div class="hotspot2" th:style="'background-color:hsl(231,100%,' + ${pixel} + '%)'"
                                     title='The color value represents the relative site count in this section'></div>
                            </th:block>
                        </th:block>
                    </div>

                    <div id="chrsizes">
                        <th:block th:each="size,iter: ${chrsizes}">
                            <div class="chrbar" th:style="'width:' +${size} + '%'">
                                <div th:text="${chrnames[iter.index]}"></div>
                            </div>
                        </th:block>

                    </div>

                    Each blue bar represents the relative count of integration sites in this part of the genome. Lighter
                    bars show few, and darker bars show an increased count of sites.
                </div>


                <!-- Tab 3  Detailed -->
                <div id="nav3" class="tab-pane fade ">

                    <div class="left">
                        <div id="barplot">
                        </div>
                        <div id="barplotdesc"></div>
                    </div>

                    <div>
                        <h6>Positional intersect of the most significant tracks</h6>
                        <br/>
                        <br/>

                        <div id='circos_chart_large'></div>
                        <div id="circos_names"></div>
                    </div>

                </div>

                <!-- Tab 4 R export -->
                <div id="nav4" class="tab-pane fade ">

                    <div id="rexport">
                        <div id="rcodewarning" class="badge badge-danger"></div>
                        <br>
                        <label>
                            Copy this code and run it on your machine using R to generate a barplot of the results of your
                            analysis. You can select a subset of tracks by clicking 'change tracks' on the
                            left.<br>
                            <textarea th:text="${rcode}">
                    </textarea>
                        </label>
                    </div>

                </div>

                <!-- Tab 5 ??? -->
                <div id="nav5" class="tab-pane fade ">

                    <div id="csvexport">
                    </div>

                    <a class="btn btn-outline-info"
                       href="export/bg"><span>Download background positions as .bed-file</span></a>

                    <a class="btn btn-outline-info" href="export/csv"> <span>Download results as .csv-file</span></a>


                </div>


            </div>
        </div><!-- /.container -->

        <!-- Modal for add/upload track -->
        <div th:include="add_track:: add_track"></div>


        <!-- Modal Settings -->
        <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Settings</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>
                                <label>
                                    <input th:field="*{interfaceCommand.showall}" type="checkbox"
                                           form="covariate_form"/>
                                    Disable P Value filter
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submit" form="covariate_form">Run again
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--End settings modeal -->

        <th:block th:if="${ran == null}">
            <div id="new" class="bg-info">
                <h3> New to Enhort? </h3>
                <p>Go to <a href="/faq">FAQ</a> and find out how to work with the application.</p>
                <p>Or begin using Enhort with the <a href="/wiz">wizard</a></p>

                <p>If you know what you are doing upload a file and get started.</p>
            </div>
        </th:block>


    <th:block th:if="${ran != null}">
        <th:block th:if="${interfaceCommand.positionCount < 1}">
            <div id="new" class="bg-warning">
                <h3> No positions in your file </h3>
                <p>There are no genomic positions in the .bed file you uploaded. </p>
                <p>Does it have the correct format, example: chr1\t10\t100 (where \t is a tab)</p>
            </div>
        </th:block>
    </th:block>

    </div>
</div>

<script th:inline="javascript" async="async">
    /*<![CDATA[*/
    'use strict';

    if ([[${visible_track_count}]] > 20) {
        document.getElementById("rcodewarning").innerText = "There are too many tracks selected to display them " +
            "in a single barplot. Please select less tracks by clicking 'Change tracks' on the left."
    }
</script>


<script>

    var rerun = document.getElementById("rerun");

    rerun.onclick = function (ev) {

        rerun.disabled = true;

        document.getElementById("runnotice").innerText = "Please wait for the computation to finish";

        this.form.submit.click();
    };

</script>

<script th:inline="javascript" async="async">
    /*<![CDATA[*/
    'use strict';

    //disable all checkboxes if there is an uploaded bg file
    if([[${bgfilename }]] !== "Background"){
        $("input[type='checkbox']").each(function (id, box) {
            box.disabled = true;
        });
    }
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'

        });
    });

    $('.checked').prop('checked', true);

</script>


<script th:inline="javascript" async="async">
    /*<![CDATA[*/
    'use strict';

    if ([[${results_named}]] !== null) {

        plotNames([[${results_named}]]);
        plotNames([[${covariants}]]);
    }


    if ([[${results_score}]] !== null) {
        plot_scores([[${results_score}]]);
        plot_scores([[${covariants}]]);
    }

    /*]]>*/

    /* Sequence logo stuff */

    if ([[${sequencelogo}]] !== null) {
        setSequenceLogo([[${sequencelogo}]], "#sequencelogo");
        setSequenceLogo([[${sequencelogo2}]], "#sequencelogo2");
    }

</script>

<script th:inline="javascript" async="async">
    /*<![CDATA[*/
    'use strict';

    plotRadar([[${perc}]]);
</script>

<script th:inline="javascript" async="async">

    var layout = {
        title: "Annotations by fold change",
        autosize: true,
        barmode: 'group',
        bargap: 0.15,
        bargroupgap: 0.1,
        xaxis: {
            autorange: true
        },
        yaxis: {
            autorange: true
        },
        margin: {
            b: 150
        },
    };


    var bars = [[${bardata}]];


    let first = {
        x: bars[0].left,
        y: bars[0].middle,
        hovertext: bars[0].right,
        text: bars[0].right.map(function(val){
            if(val < 0.05 /bars[0].right.length){
                return "*"
            } else return ""
        }),
        hoverinfo: 'text',
        textposition: 'inside',
        textinfo: 'text',
        hovertemplate: 'Track %{x} | Effect size %{y} | P value %{hovertext}',
        type: 'bar',
        name: "Latest Run",
        marker: {
            color: 'rgb(4,105,193)',
        },
        shapes: [
            {
                type: 'line',
                x0: 0,
                y0: 1,
                x1: 1000,
                y1: 1,
                line: {
                    color: 'rgb(0,0,0)',
                    width: 4,
                    dash: 'dot'
                }
            }]
    };

    var bardat = [first];

    for(let i = 1; i < bars.length; i++){

        bardat.push({
            x: bars[i].left,
            y: bars[i].middle,
            hovertext: bars[i].right,
            text: bars[i].right.map(function(val){
                if(val < 0.05 /bars[i].right.length){
                    return "*"
                } else return ""
            }),
            hoverinfo: 'text',
            textposition: 'inside',
            textinfo: 'text',
            hovertemplate: 'Track %{x} | Effect size %{y} | P value %{hovertext}',
            type: 'bar',
            name: 'Run -' + i,
            marker:{
                color: 'rgba(51,122,183,'+ (0.8 - (0.2*i)) + ')'
            },
        });
    }

    document.getElementById("barplotdesc").innerHTML = "The barplot shows the fold changes for each annotation for the recent runs." +
        "The height of the bar represents the difference between the sites and the background model regarding this annotation. " +
        "A * marks statistically significant annotations." +
        "The latest run is always in blue color, the previous three runs are also visible here";

    Plotly.newPlot('barplot', bardat, layout);

</script>


<script th:inline="javascript" async="async">
    /*<![CDATA[*/
    'use strict';

    var hotspots = [[${interfaceCommand.hotspots}]];
    var names = [[${circ_result_names}]];
    var counts = [[${circ_results}]];

    plot_circos(hotspots, names, counts, 420, "circos_chart");

    var circos_plot = document.getElementById("circos_chart").firstChild.cloneNode(true);

    document.getElementById("circos_chart_large").appendChild(circos_plot);

    var scaling_factor = 1.5;

    var scaling_string = "transform: scale(" + scaling_factor + ")";

    circos_plot.setAttribute("style", scaling_string);

    var height = circos_plot.getAttribute("height");
    var plot_size = height * scaling_factor;

    circos_plot.setAttribute("height", plot_size);
    circos_plot.setAttribute("width", plot_size);

    var translate_size = (height / 2) * scaling_factor;
    var translate_string = "translate(" + translate_size + "," + translate_size + ")";

    circos_plot.firstChild.setAttribute("transform", translate_string);

    document.getElementById("circos_names").innerText = "Each circle shows where integration sites hit an annotated region," +
        " the regions are most significant for the given sites: " + names.slice(0, 6) + " from outer to inner. " +
        "The color strength represents the number of integrations for this annotation in this region." +
        "The inner circle shows the integrations counts, a dot on the inner line is a relative low integration, a dot on the " +
        "outer line shows a high integration count at this position.";
</script>

</body>
</html>
